<% layout('layouts/boilerplate') %>

<div id="cluster-map"></div>

<h1>YelpCamp - Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add campgrounds</a>
</div>

<% for (let campground of campgrounds) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(campground.images.length) {%>
            <img class="img-fluid" src="<%= campground.images[0].url %>" alt="<%= campground.title %>">
            <% }else{ %>
            <img class="img-fluid"
                src="https://res.cloudinary.com/djntaxpzx/image/upload/v1631039605/yelpcamp/uihhaeisjogs6aukupqq.jpg"
                alt="<%= campground.title %>">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <%= campground.title %>
                </h5>
                <p class="card-text">
                    <small class="text-muted">
                        <%= campground.location %>
                    </small>
                </p>
                <p class="card-text">
                    <%= campground.description %>
                </p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title
                                %></a>
            </div>
        </div>
    </div>
</div>
<% } %>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {
        features: <%-JSON.stringify(campgrounds) %>
    }
</script>
<script src="/js/clusterMap.js"></script>